<section class="second">
  <h1 class="sec-quote">Join one of our innovation platforms.</h1>
    <div class="container">
      <div class="card-container">
        <div class="card">
          <div class="content">
            <h3>IT & Networking</h3>
            <p>
              Empowering businesses through seamless IT and networking solutions, we optimize connectivity and elevate performance to drive digital success.</p>
          </div>
          </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="content">
            <h3>Web Development & Designing</h3>
            <p>
              We bring ideas to life with precision and creativity. From concept to execution, we craft digital solutions that elevate businesses to new heights.</p>
          </div>
          </div>
      </div>
      <div class="card-container">
        <div class="card">
          <div class="content">
            <h3>Business Consultation</h3>
            <p>
              We specialize in delivering comprehensive documentation services, ensuring clarity and precision in capturing and communicating vital information.</p>
          </div>
          </div>
      </div>
    </div>
</section>
