<section class="second">
  <h1 class="sec-quote">Join one of our innovation platforms.</h1>
  <div class="cards">
    <div class="card-container">
      <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '350px' }">
        <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <p>
          Lorem ipsum dolor sit amet...
        </p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '350px' }">
        <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <p>
          Lorem ipsum dolor sit amet...
        </p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '350px' }">
        <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <p>
          Lorem ipsum dolor sit amet...
        </p>
      </p-card>
    </div>
  </div>
</section>
