<p-divider />

<div class="container">
    <div class="image">
      <img src="https://cdn3d.iconscout.com/3d/premium/thumb/boy-student-studying-on-desk-6495039-5385954.png?f=webp" alt="">
    </div>
    <div class="row">
      <h2>Reach out & say hello!</h2>
      <p>
        Don’t be a stranger! Reach out and say hello to connect with us. We’re
        always here to engage, answer questions, and foster meaningful
        conversations.”
      </p>
    </div>
</div>
<p-divider />

<app-section-2></app-section-2>
<p-divider />
