<app-header></app-header>

<br /><br />

<section class="section-1">
  <div class="container">
    <p class="serv">Our Services</p>
    <h2>Strategic Solutions For Your Business Growth</h2>
    <p class="para">
      Unlock innovative strategies, optimize operations, and drive sustainable
      success. Partner with us to navigate challenges and achieve your business
      objectives with confidence.
    </p>
  </div>
</section>

<br /><br />
<br />
<br /><br />
<section class="section-2">
  <div class="cards">
    <div class="card-container">
      <p-card [style]="{ width: '350px' }">
        <p>WLL/ SPC Formations</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' }">
        <p>Establishment Formation</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' }">
        <p>Sijili Formation</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' }">
        <p>Capital Increase/ Decrease</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' }">
        <p>Change Company Address</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' }">
        <p>Change Name</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' }">
        <p>Change Company Period</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' }">
        <p>Change Company Type</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' }">
        <p>Convert Sijili Type</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' }">
        <p>Delete CR Licience</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' }">
        <p>Manage Branch</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' }">
        <p>Manage Liquidation</p>
      </p-card>
    </div>
  </div>
</section>

<section class="section-3">
  <app-section-3></app-section-3>
</section>

<app-footer></app-footer>
