<app-header></app-header>

<br><br>
<br>
<br><br>
<section class="section-1">
  <div class="container">
    <p class="serv">Our Services</p>
    <h2>Cutting-Edge IT And Networking Solutions</h2>
    <p class="para">
      From seamless data management to robust network security, we have the solutions to propel your business forward in the digital age.
    </p>
  </div>
</section>

<br><br>
<br>
<br><br>

<section class="section-2">
  <div class="cards">
    <div class="card-container">
      <p-card [style]="{ width: '350px', height: '300px' }">
        <p>WLL/ SPC Formations</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px', height: '300px' }">
        <p>Establishment Formation</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' , height: '300px'}">
        <p>Sijili Formation</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px', height: '300px' }">
        <p>Capital Increase/ Decrease</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' , height: '300px'}">
        <p>Change Company Address</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px' , height: '300px'}">
        <p>Change Name</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px', height: '300px' }">
        <p>Change Company Period</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px', height: '300px' }">
        <p>Change Company Type</p>
      </p-card>
    </div>
    <div class="card-container">
      <p-card [style]="{ width: '350px', height: '300px' }">
        <p>Convert Sijili Type</p>
      </p-card>
    </div>
  </div>
</section>



<br><br>
<br>
<br><br>

<br><br>
<br>
<br><br>
<app-section-3></app-section-3>
<app-footer></app-footer>
